body {
  background-color: #f9f7fd;
  font-family: "Roboto";
}
.Weather-Box {
  background-color: white;
  color: #666666;
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
}
header {
  border-bottom: solid 1px #f9f7fe;
  padding: 0 0 30px 0;
}
.search-text {
  background-color: #f9f7fd;
  color: black;
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 15px 20px;
  font-size: 16px;
}
.search-button {
  background-color: #885df1;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  padding: 15px 30px;
  margin-left: 5px;
}
.Weather-Content {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
.City-name {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}
.City-details {
  color: #a8a6b4;
  line-height: 24px;
  font-weight: 500;
}
.City-details strong {
  color: #f65281;
}
.actuel-temperature {
  font-size: 88px;
  font-weight: bold;
}
.temperature-icone {
  font-size: 50px;
  float: inline-start;
  margin-top: 20px;
  margin-right: 5px;
}
.temperature-celsius {
  font-size: 28px;
  float: inline-end;
  margin-top: 10px;
}
footer {
  border-top: solid 1px #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  color: #666666;
  font-size: 14px;
}
footer a {
  color: #885df1;
}
